<!DOCTYPE HTML>

<html>
	<head>
		<title>Assignment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
	</head>
		<style>
		body{
		background-color:lightblue;
		}
		
		
		</style>
		
	</head>
	<body>
		<div class="container" style="margin-left:45%; margin-right:45%;">
           <a href="/login"><button class="btn btn-primary" style="background-color:#ffc212">Login</button></a>
           <a href="/register"><button class="btn btn-info" style="background-color:#ff2c42">Register</button></a>
		</div>	
	</body>
</html>