<!DOCTYPE html>
<html>

 <% include ../partials/head %>

 <body>
<div class="wrapper">
        <!-- Sidebar  -->
        <% include ../partials/nav %>

        <!-- Page Content  -->
        <div id="content">

            <% include ../partials/navbar %>

            
        </div>
    </div>

   <% include ../partials/script %>
</body>

</html>