<!DOCTYPE html>
<html>

 <% include ../partials/head %>

 <body>
 <div class="wrapper">
 <% include ../partials/nav %>
 
<div class="container-fluid">
<% include ../partials/navbar %>
    <div class="row">
	<div id="content">
	<div class="panel panel-default">
	<div class="panel-body" style="margin-bottom:10px; background-color:#2b2d30;">
	<img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                    <span class="inline" style="color:white; font-size:24px; font-weight:bold">Abhishek<span>
	</div>
	</div>
        <div class="panel panel-default">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            <div class="container">
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <span>Why is yo shit so broke?</span>
                </div>
                <div class="row message-bubble">
                    <p class="text-muted">Matt Townsen</p>
                    <p>It Isn't'</p>
                </div>
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <p>Umm yes it is</p>
                </div>
                <div class="row message-bubble">
                <p class="text-muted">Matt Townsen</p>
                    <p>Test message</p>
                </div>
            </div>
            <div class="panel-footer">
                 <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Send</button>
                  </span>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</div>
   <% include ../partials/script %>
</body>

</html>